{% extends 'base.html.twig' %}

{% block title %}Edit Paper{% endblock %}

{% block body %}
    <h1>Edit Paper</h1>

    {{ include('paper/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paper_index') }}">back to list</a>

    {{ include('paper/_delete_form.html.twig') }}
{% endblock %}
